.header {
  background: var(--darkGrey);
  padding: 0 20px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

    .logo {
      .logoImg {
        width: 200px;

        @media screen and (max-width: 500px) {
          width: 75px;
        }
      }
    }

    .navContainer {
      .nav {
        display: flex;
        gap: 30px;

        a {
          text-decoration: none;
          color: var(--white);
          font-weight: bold;

          &:hover {
            color: #ffdf47;
            border-color: #ffdf47;
          }
        }
      }
    }

    .btn {
      display: block;
      margin-right: 20px;
      padding: 4px 10px;
      border: 1px solid lightgray;
      border-radius: 5px;
      color: var(--white);
      text-decoration: none;
      font-weight: bold;
      background-color: transparent;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        color: #ffdf47;
        border-color: #ffdf47;
      }

    }
  }
}